<h1>Articles:</h1>

<ul>
    <% @csv.each do |row| %>
   		<li><a href="<%=row["url"]%>" target='_blank'><%=row["title"]%></a>
        <p>Description: <%=row["description"]%></p></li>
    <%end%>
</ul>
<br>
<a href="articles/new">Submit an article</a>
