<h1>Articles:</h1>

<ul>
    <% CSV.foreach('articles.csv', skip_blanks:true, headers:true) do |row| %>
   		<li><a href='<%=row[1]%>' target='_blank'><%=row[0]%></a>
        <p>Description: <%=row[2]%></p></li>
    <%end%>
</ul>
<br>
<a href="articles/new">Submit an article</a>
